@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <h2>This my first asp.net program with c#.</h2>
    <p>I love csharp</p>
</div>
